.App-body {

    min-height: 100vh;
    flex-direction: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: rgb(15, 9, 9);
    margin-left: 45px;
  }