#count {
    font-weight: bold;
    display: inline;
    margin-left: 10px;
  }
  

button {
  display: inline-block;
}

  #logo {
    width: 200px;
    height: 200px;
    background-size: cover;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: inline-block; /* Display the button as an inline block */
  }
  