.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}






h1{
  color: #f41133;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type=submit] {
  padding: 2px 2px;
  margin-left: 20px;
  box-sizing: border-box;
}
